body {
  background-color: #fff;
  color: #000;
  font-family: var(--font-text);
  font-weight: normal;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;

  &--big {
    max-width: 1440px;
  }
}
