:root {
  //fonts
  --font-text: 'Montserrat', sans-serif;
  --font-text-2: 'Oswald', sans-serif;
  --font-text-3: 'asinastra', sans-serif;
  --font-text-4: 'Open Sans', sans-serif;

  //color

  //gradient
  --gradient: linear-gradient(162.44deg, rgb(0, 191, 145), rgb(0, 145, 191));
}

@mixin gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
